
  body {
    font-family: Arial, sans-serif;
    background-colour: #f5deb3;
    height: 100vh;
    margin 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    backgroung-color: #fff8dc;
    padding: 40px 50px;
    boder-radius: 16px;
    box-shadow; 0 4px 20px rgba(0,0,0,0.2);
    width: 800px;
    text-align:center;
  }
  h2 {
          margin-bottom: 25px;
          color: #4b3832;
      }

      label {
          display: block;
          text-align: left;
          margin-bottom: 8px;
          font-weight: Bold;
          color: #4b3832;
      }

      input[type="text"],
      textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #d2b48c;
          border-radius: 8px;
          background-color: #fffacd;
          resize: none;
          font-size: 15px;
          box-sizing: border-box;
      }

      textarea {
          height: 200px;
      }

      }
      .button-group {
        margin-top: 20px;
        display: flex;
        text-align: left;
        gap: 15px;
      }

      button {
          background-color: #fff8dc;
      }
      button:hover {
          background-color: #f5deb3 ;
      }
